[flake8]
max-line-length = 100
ignore = E501,W503,E203,F401
exclude =
    .venv,
    venv,
    migrations,
    __pycache__,
    .git,
    .pytest_cache,
    node_modules,
    .env,
    env,
    build,
    dist,
    *.egg-info